.title {
    margin: 0;
    display: ruby-base;
    justify-content: space-evenly;
}

.car {
    justify-self: center;
}

.p {
    text-decoration: dotted;
}


.ul {
    display: flex-direction flexbox;
    text-align: center;
    color: rgb(73, 39, 39);
}